@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

[v-cloak] {
  display: none;
}

@theme {
  --color-primary:        rgba(var(--primary)),
  --color-background:     rgba(var(--background)),
  --color-on-background:  rgba(var(--on-background)),
  --color-on-primary:     rgba(var(--on-primary))
}